
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  background-color: Pink;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Kirang Haerang', cursive;
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Here are the levels 3, 6, 15, 18 and ! */
/* Level3: Selects the element with a specific id. Here I set Header2 as the id for h2. So when I can use #Header to search the second header */
#Header2{
  font-family: "Kirang Haerang";
  color: grey;
  font-size: 40px;
}

/* Level6: The class selector selects all elements with that class attribute. Elements can only have one ID, but many classes. Here I put header 3 and a picture into the class. So .KevinDurant sekects all elements in the class */
.KevinDurant {
  font-family: Times;
  font-style: italic;
  color: black
}

/* Level15: Select the first element inside a div. There are four p elements in this level 15 div, I selected the first one and changed its color and font while the other three remains/*/
p:first-child {
  font-family: "Times";
  color: Green;
}

/* level18: Select an element by its order in another element. There are four b elements in the div. By using nth-child(3) means I can select the 3rd element and edit it seperately. Here I changed its color and font and made it all uppercase*/
b:nth-child(3){
  font-family: "Times";
  text-transform: uppercase;
  font-style: oblique;
  color: gold;
}










b{
  color: Aliceblue;
}

body {
  background-color: DarkSeaGreen;
  font-family: lucida;
  color: Pink;
  text-align: center;
  font-size: 2em;
}

.my-fun-class {
  width: 40%;
  border: 2px solid forestgreen;
  display: block;
  margin: auto;
}

img {
  width: 40%;
  padding: 2em;
}
