html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Spartan', cursive;
  font-family: 'Amatic SC', cursive;
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes bounce {
   0%, 100% {
      opacity: 1;
      transform: scale(0.95);
    }
   50% {
     opacity: 0.8;
     transform: scale(1);
    }
}

img{
  width:30%;
  height:30%;
}


.wallet {position: relative;}
.wallet .link{
  position: absolute;
  right: 685px;
  top: 260px
}

body {
  background-color: floralwhite;
  color: Grey;
  text-align: center;
  font-size: 2em;

}

h1 {
  font-family: "Amatic SC";
  font-weight: 1200;
  color: grey;
  font-size: 80px;
  text-shadow: 6px 4px antiquewhite;
  animation: bounce 4s;
  animation-iteration-count: infinite;
}

h2 {
  font-family: "Spartan";
  color: grey;
  font-size: 25px;
  position:relative;
  width: 27%;
  top: -370px;
  text-align: right;
  margin-left: 1250px;
  animation: bounce 5s;
  animation-iteration-count: infinite;

}

h3 {
  font-family: "Spartan";
  color: grey;
  font-size: 10px;
}

h4 {
  font-family: "Spartan";
  color: grey;
  font-size: 25px;
  line-height: 42px;
  position:relative;
  top: -510px;
  left: 200px;
  width: 300px;
  animation: bounce 5s;
  animation-iteration-count: infinite;
}

a {
  color: floralwhite;
  font-size:28px;
  text-decoration: none;
  background-color: grey;
  opacity: 0.6;
  line-height: 100px;
  border-radius: 50%;
  width:100px;
  height:auto;
}

a:hover {
  opacity: 0.99;
}

@media only screen and (max-width: 828px) {
  body {
    background-color: cornsilk;
  }

  .wallet {position: relative;}
  .wallet .link{
    position: absolute;
    right: 170px;
    top: 225px
  }


  img{
    width:60%;
    height:50%;
  }

  h1{
    font-size: 80px
  }

  h2{
    font-size: 15px
    position:relative;
    top: -330px;
    left: 680px;
    width: 100px;
    text-align: center;
    margin-left: 0;
  }

  h3 {
    font-size: 5px;
  }

  h4 {
    font-size: 15px;
    line-height: 30px;
    position:relative;
    top: -650px;
    left: 30px;
    width: 150px;

  }

  a {
    color: floralwhite;
    font-size:28px;
    text-decoration: none;
    background-color: grey;
    opacity: 0.8;
    line-height: 100px;
    border-radius: 50%;
    width:100px;
    height:auto;
  }
}
