html,
body {
  margin: 0;
  padding: 0;
}

section{
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:1080px;
 box-sizing:border-box;
 padding:0px;
 transition:0.5s;
 margin-top: -30px;
}

section.dark{
 background:#262626;
 color:#fff;
}

ul{
 position:absolute;
 top:20px;
 right:20px;
 margin:0;
 padding:0;
 width:100px;
 height:30px;
 z-index:1;
 border:1px solid #000;
 border-radius:4px;
 cursor:pointer;
 overflow:hidden;
}

ul.active{
 border-color:#fff;
}

ul li{
 list-style:none;
 width:100%;
 height:60px;
 text-align:center;
 text-transform:uppercase;
 transition:0.5s;
}

ul.active li{
 transform:translateY(-30px);
}

ul li span{
 display:block;
 width:100%;
 height:30px;
 line-height:30px;
 color:#262626;
 background:#fff;
}

ul li span:nth-child(1){
 background:#262626;
 color:#fff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Spartan', cursive;
  font-family: 'Amatic SC', cursive;
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes bounce {
   0%, 100% {
      opacity: 1;
      transform: scale(0.95);
    }
   50% {
     opacity: 0.8;
     transform: scale(1);
    }
}

img{
  width:30%;
  height:30%;
}


.wallet {position: relative;}
.wallet .link{
  position: absolute;
  right: 675px;
  top: 260px
}

body {
  font-family: "Spartan";
  background-color: floralwhite;
  color: Grey;
  text-align: center;
  font-size: 15px;

}

h1 {
  font-family: "Amatic SC";
  font-weight: 1200;
  color: ;
  font-size: 80px;
  text-shadow: 3px 2px antiquewhite;
  animation: bounce 4s;
  animation-iteration-count: infinite;
}

h2 {
  font-family: "Spartan";
  color: ;
  font-size: 25px;
  position:relative;
  width: 27%;
  top: -370px;
  text-align: right;
  margin-left: 1250px;
  animation: bounce 5s;
  animation-iteration-count: infinite;
}

h3 {
  font-family: "Spartan";
  color: ;
  font-size: 10px;
}

h4 {
  font-family: "Spartan";
  color: ;
  font-size: 25px;
  line-height: 42px;
  position:relative;
  top: -510px;
  left: 200px;
  width: 300px;
  animation: bounce 5s;
  animation-iteration-count: infinite;
}

a {
  color: floralwhite;
  font-size:28px;
  text-decoration: none;
  background-color: darkgrey;
  opacity: 0.7;
  line-height: 100px;
  border-radius: 50%;
  width:100px;
  height:auto;
}

a:hover {
  opacity: 0.99;
}

@media only screen and (max-width: 828px) {
  body {
    background-color: cornsilk;
  }

  .wallet {position: relative;}
  .wallet .link{
    position: absolute;
    right: 170px;
    top: 225px
  }


  img{
    width:60%;
    height:50%;
  }

  h1{
    font-size: 80px
  }

  h2{
    font-size: 15px
    position:relative;
    top: -330px;
    left: 680px;
    width: 100px;
    text-align: center;
    margin-left: 0;
  }

  h3 {
    font-size: 5px;
  }

  h4 {
    font-size: 15px;
    line-height: 30px;
    position:relative;
    top: -650px;
    left: 30px;
    width: 150px;

  }

  a {
    color: floralwhite;
    font-size:28px;
    text-decoration: none;
    background-color: grey;
    opacity: 0.8;
    line-height: 100px;
    border-radius: 50%;
    width:100px;
    height:auto;
  }
}
