html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Spartan', cursive;
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: floralwhite;
  color: Grey;
  text-align: center;
  font-size: 2em;
}

h1 {
  font-family: "Spartan";
  color: grey;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
