html,
body {
  margin: 0;
  padding: 0;
  background:#000;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@keyframes fadeIn{
     from{
        opacity:0;
      }
      to{
        opacity:1;
      }
}

@font-face {
  font-family: 'Spartan', cursive;
  font-family: 'Amatic SC', cursive;
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.main{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section{
  position: relative;
  top: 1080px;
  padding: 100px;
  width:100%;
  min-height: 1080px;
  box-sizing: border-box;
}

section h4{
  margin-top: 100px;
  font-family: "Amatic SC";
  color: gold;
  font-size: 46px;

}

section p {
    font-family: "Spartan";
    color: #fff;
    font-size: 16px;
}

body {
  background-color: Bisque;
  color: lightslategrey;
  text-align:left;
  font-size: 17px;
  animation: fadeIn 4s;
}

img{
  width:50%;
  height:40%;
  margin-top: -20px;
  animation: fadeIn 2.5s;
}

h1 {
  font-family: "Spartan";
  text-align: center;
  color: floralwhite;
  font-size: 50px;
  width: 20%;
  height: 50%;
  margin: auto;
  background-color: Dimgrey;
  box-shadow: 10px 10px white;
  margin-top: 30px;
  animation: fadeIn 3s;
}

h2 {
  font-family: "Spartan";
  font-style: normal;
  color: dimgrey;
  font-size: 40px;
  margin-top: -10px;
  margin-bottom: 20px;
  animation: fadeIn 3s;
}

h3{
  font-family: "Spartan";
  font-style: normal;
  color: dimgrey;
  font-size: 20px;
  margin-top: 20px;
  animation: fadeIn 3s;
}

a {
  color: floralwhite;
  font-size:28px;
  text-decoration: none;
  background-color: grey;
  opacity: 0.9;
  line-height: 0px;
  width:100px;
  height:100px;
  animation: fadeIn 3s;
}


@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
    background-color:Bisque;
  }

  section{
    position: relative;
    top: 1366px;
    padding: 100px;
    width:100%;
    min-height: 1366px;
    box-sizing: border-box;
  }


  h1 {
    font-family: "Spartan";
    color: floralwhite;
    font-size: 40px;
    width: 30%;
    height: 50%;
    margin: auto;
    background-color: Dimgrey;
    box-shadow: 10px 10px white;
    margin-top: 50px;
  }

  h2 {
    font-family: "Spartan";
    font-style: normal;
    color: dimgrey;
    font-size: 30px;
    margin-top: 20px;
  }

  img{
    width:70%;
    height:80%;
    margin-top: 20px;
  }

  a {
    font-size: 25px;
    margin-top: 20px;
  }

}


@media only screen and (max-width: 828px) {
  body {
    font-size: 14px;
    background-color:Bisque;
  }

  section{
    position: relative;
    top: 1792px;
    padding: 100px;
    width:100%;
    min-height: 1792px;
    box-sizing: border-box;
  }


  h1 {
    font-family: "Spartan";
    color: floralwhite;
    font-size: 40px;
    width: 35%;
    height: 50%;
    margin: auto;
    background-color: Dimgrey;
    box-shadow: 10px 10px white;
    margin-top: 50px;
  }

  h2 {
    font-family: "Spartan";
    font-style: normal;
    color: dimgrey;
    font-size: 30px;
    margin-top: 20px;
  }

  img{
    width:70%;
    height:80%;
    margin-top: 20px;
  }

  a {
    font-size: 25px;
    margin-top: 20px;
  }

}
