html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Spartan', cursive;
  font-family: 'Amatic SC', cursive;
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: darksalmon;
  color: floralwhite;
  text-align: center;
  font-size: 17px;
}

img{
  width:50%;
  height:40%;
}

h1 {
  font-family: "Spartan";
  color: floralwhite;
  font-size: 50px;
  width: 20%;
  height: 50%;
  margin: auto;
  background-color: Dimgrey;
  box-shadow: 10px 10px white;
}

h2 {
  font-family: "Amatic SC";
  font-style: normal;
  color: whitesmoke;
  font-size: 40px;
}

a {
  font-family: "Amatic SC"
  font-size: 40px;
  color: floralwhite;
  width: 45%;
  height: 50%;
  margin: auto;
  background-color: Dimgrey;
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    background-color:darksalmon;
  }

  h1 {
    font-family: "Spartan";
    color: floralwhite;
    font-size: 50px;
    width: 62%;
    height: 50%;
    margin: auto;
    background-color: Dimgrey;
    box-shadow: 10px 10px white;
  }

  h2 {
    font-family: "Spartan";
    font-style: normal;
    color: pink;
    font-size: 20px;
  }

  img{
    width:70%;
    height:60%;
  }

  a {
    font-size: 15px;
  }

}
